CAMERA_ENTRY_URL=http://192.168.1.100/snapshot.jpg
CAMERA_EXIT_URL=http://192.168.1.101/snapshot.jpg
CAMERA_USERNAME=admin
CAMERA_PASSWORD=admin
SERVER_URL=http://localhost:5000
ORG_ID=1
AGENT_API_KEY=<agent_kaliti>
BARRIER_PORT=COM3
BARRIER_OPEN_SECONDS=3
CAPTURE_INTERVAL_MS=2000
MOTION_THRESHOLD=20
